*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 100% !important;
	height: 100% !important;
}
body, html{
	font-family: 'Nunito', sans-serif !important;
	color: #000020;
	background: rgba(255,255,255,.6);
}
:root{
	--blancobanner: #fff;
}
.encabezado{
	width: 100%;
	height: 40px;
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	z-index: 999999;
	background: rgba(255,255,255,200);
}
.toda{
	padding-left: 1px !important;
	padding-right: 1px !important;
}
	.logo{
		width: 40%;
		height: 100%;
		float: left;
		position: relative;
		background: rgba(255,255,255,200);
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
		.logo>i{
			float: left;
			position: relative;
			font-size: 1.3em;
			line-height: 40px;
			margin-left: 5px;
			cursor: pointer;
		}
		.logo>a{
			float: left;
			position: relative;
			font-weight: 400;
			margin-left: 10px;
			line-height: 40px;
			text-decoration: none !important;
			color: rgba(0,0,0,.5);
			cursor: pointer;
		}
	.redsociales{
		width: 20%;
		height: 100%;
		float: left;
		position: relative;
		background: rgba(255,255,255,200);
		border-bottom: 1px solid rgba(0,0,0,.2);
		display: flex;
		justify-content:center;
		align-content: center;
		align-items: center;
	}
		.redsociales>i{
			float: left;
			position: relative;
			font-size: 1.4em;
			line-height: 40px;
			margin-left: 8px;
		}
	.login{
		width: 40%;
		height: 100%;
		float: left;
		position: relative;
		box-sizing: border-box;
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
		.login>i{
			float: right;
			position: relative;
			font-size: 1.3em;
			line-height: 40px;
			margin-right: 1px;
		}
		.login>a{
			float: right;
			margin-left: 2px;
			text-decoration: none !important;
			line-height: 40px;

		}
/*B A N N E R S*/
.banner{
	width: 100% !important;
	height: 240px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	position: relative;
}
.tamañoh1{
	font-size: 30px !important;
}
.tamañop{
	font-size: 20px !important;
}
.center{
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.bannertexto{
	height: 40px !important;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 3px;
	border-bottom: 1px solid rgba(0,0,0,.09);
	border-top: 1px solid rgba(0,0,0,.09);
}
.bannercate{
	height: 47px !important;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 3px;
	border-bottom: 1px solid rgba(0,0,0,.09);
	border-top: 1px solid rgba(0,0,0,.09);
}
.bannercart{
	float: left !important;
	position: relative !important;
	height: 30px !important;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.top{
	padding-top: 7px;	
}
/*M E N U DE C A D A C A T E G O R I A*/
.hover{
	margin: none !important;
	padding-bottom: 0px !important;
	box-sizing: border-box;
}
.hover:hover{
	padding-bottom: 0px !important;
	box-sizing: border-box !important;
	background: #DDE3EC;
}
.border{
	margin-bottom: 0px !important;
	border-radius: none !important;	
}
.home>li>a{
	padding-left: 15px !important;
}
.actual{
	background: #C6D0DF;
}
/*S E C C I O N E S*/
	.seccion1, .seccion2, .seccion3, .seccion4, .seccion5{
		width: 100%;
		height: 140px;
		float: left;
		position: relative;
	}
	.seccion1>.img, .seccion1>a,
	.seccion2>.img, .seccion2>a,
	.seccion3>.img, .seccion3>a,
	.seccion4>.img, .seccion4>a,
	.seccion5>.img, .seccion5>a{
		width: 50%;
		height: 100%;
		float: left;
	}
	.seccion1>.img{
		float: right !important;
		background-image: url(../img/seccion1.jpeg) !important;
		background-repeat: cover;
		background-size: 100%;
		background-position: center top 50%;
	}
	.seccion2>.img{
		float: left !important;
		background-image: url(../img/seccion2.jpg) !important;
		background-repeat: cover;
		background-size: 100%;
		background-position: center bottom 30%;
	}
	.seccion3>.img{
		float: right !important;
		background-image: url(../img/seccion3.jpg) !important;
		background-repeat: cover cover;
		background-size: 100%;
		background-position: center top 10%;
	}
	.seccion4>.img{
		float: left;
		background-image: url(../img/seccion4.jpeg) !important;
		background-repeat: cover;
		background-size: 100%;
		background-position: center 35%;
	}
	.seccion5>.img{
		float: right !important;
		background-image: url(../img/seccion5.jpeg) !important;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
	}
	.seccion1>a, .seccion2>a, .seccion3>a, .seccion4>a, .seccion5>a{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		font-size: 1.5em;
		font-weight: 600;
		color: var(--blancobanner);
		text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
		text-decoration: none !important;
	}
	.seccion1>a{
		background: #c0e0e0;
	}
	.seccion2>a{
		float: right !important;
		background: #a0c0e0;
	}
	.seccion3>a{
		background: #c0e0e0;
	}
	.seccion4>a{
		float: right !important;
		background: #a0c0e0;
	}
	.seccion5>a{
		background: #c0e0e0;
	}
/*B A N N E R DE C A T E G O R I A S*/
.imgcate1{
	width: 100%;
	height: 240px !important;
	background-image: url(../img/p1.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: cover;
	margin-bottom: 3px;
}
.imgcate2{
	width: 100%;
	height: 240px !important;
	background-image: url(../img/p2.jpeg);
	background-position: center;
	background-size: 100%;
	background-repeat: cover;
	margin-bottom: 3px;
}
.imgcate3{
	width: 100%;
	height: 240px !important;
	background-image: url(../img/p3.jpeg);
	background-position: center;
	background-size: 100%;
	background-repeat: cover;
	margin-bottom: 3px;
}
.imgcate4{
	width: 100%;
	height: 240px !important;
	background-image: url(../img/p4.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: cover;
	margin-bottom: 3px;
}
.imgcate5{
	width: 100%;
	height: 240px !important;
	background-image: url(../img/p5.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: cover;
	margin-bottom: 3px;
}
.imgcate0{
	width: 100%;
	height: 39px !important;
	background-position: center;
	background-size: 100%;
	background-repeat: cover;
	margin-bottom: 3px;
}
/*B U S C A D O R*/
.buscador{
	width: 100%;
	height: 37px;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5px;
}
.buscador>input{
	width: 80%;
	height: 80%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	border: 1px solid var(--bannertexto);
	padding: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.buscador>.buscar{
	width: 8%;
	border: 1px solid #A0C0E0;
	height: 80%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 1em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	float: left;
	position: relative;
	background: #A0C0E0;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}
/*PRODUCTOS POR PAGINA*/
.color{
	background: rgba(0,0,0,.02);
	margin-top: 5px !important; 
	box-sizing: border-box;
}
.producto{
	height: auto;
	padding: 7px;
	box-sizing: border-box;
	float: left;
	position: relative;
	background: rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.05);
	margin-bottom: 5px;
}
.producto>img{
	width: 90%;
	height: 60% !important;
	float: left;
	position: relative;
	margin-left: 50%;
	left: -45%;
}
.producto>p{
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	margin-bottom: 0px !important;
	color: rgba(0,0,0,.9);
}
.tipo1{
	font-weight: 700;
	font-size: 1.3em;
	color: #35455E !important;
}
.tipo0{
	font-weight: 600;
	font-size: 1.2em;
}
.producto>.botones{
	width: 100%;
	height: 35px;
	float: left;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.botones>input{
	width: 49% !important;
	padding: 5px !important;
	box-sizing: border-box;
	height: 30px;
	float: left;
	position: relative;
	border: none;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	outline: none;
	box-shadow: 0px 2px 1px -1px rgba(148,146,148,1);
}
.color1{
	background: #A0C0E0;
}
.color1:active{
	top: 1px;
}
.color0{
	background: #6196CB;

}
.color0:active{
	top: 1px;
}
.volver{
	float: right !important;
	margin-top: 10px;
	height: 35px !important;
	border: none;
	cursor: pointer;
	color: rgba(0,0,0,.7);
	font-weight: 600;
	outline: none;
	background: rgba(0,0,0,.08);
	text-decoration: none !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
	align-content: center;
}
/*M I P E R F I L Y M I C A R R I T O*/
.lado6{
	background: #eaf5ff;
	border-left: 1px solid rgba(0,0,0,.04);
	margin-top: 10px;	
	height: 680px !important;
	border-radius: 3px;		
}
.lado6>h2{
	width: 100% !important;
	height: 30px !important;
	position: relative !important;
	font-weight: 700 !important;	
	font-size: 1.8em;
	margin-bottom: 15px;
}
summary{
	width: 100%;
    outline: none;
    color: rgba(0,0,0,.9);
    font-weight: 600;
    border-bottom: .5px solid rgba(0,0,0,.09);
    padding-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
details>p{
	padding-left: 5px !important;
	outline: none;
}
details summary::-webkit-details-marker {
    color: rgba(0, 4, 33, .6);
}
details{
	width: 100%;
}
.historial{
	width: 100%;
	height: 300px;
	float: left;
	position: relative;
	overflow-y: scroll;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(255,255,255,.7);
	border-radius: 5px;
}
.bold{
	font-weight: 600;
}
.historial>h3{
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 0px !important;
}
	::-webkit-scrollbar {
	  width: 7px;
	  height: 7px;
	}
	::-webkit-scrollbar-button {
	  width: 0px;
	  height: 0px;
	}
	::-webkit-scrollbar-thumb {
	  background: #acacac;
	  border: 0px none #acacac;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #acacac;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #acacac;
	}
	::-webkit-scrollbar-track {
	  background: #ffffff;
	  border: 0px none #ffffff;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-track:hover {
	  background: #ffffff;
	}
	::-webkit-scrollbar-track:active {
	  background: #ffffff;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}
.lado6>h3{
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 0px !important;
}
.pedidos{
	width: 100%;
	height: 520px;
	float: left;
	position: relative;
	overflow-y: scroll;
	padding: 5px;
	box-sizing: border-box;
	background: rgba(255,255,255,.7);
	border-radius: 5px;
}
.pedidot{
	height: 120px !important;
}
.pedidot>p{
	font-size: 1.09em;
	margin-top: 2px !important;
}
.list-group-item{
	cursor: default;
	padding-bottom: 5px !important;
}
/*.select:hover{
	background: #d1e6fc;
}*/
input[type=number]{
	width: 10% !important;
	float: left !important;
	position: relative;
	border: 1px solid rgba(0,0,0,.3);
}
.opindividual{
	width: 100% !important;
	float: right !important;
}
	.opindividual>input[type=submit]{
		width: 30% !important;
		float: right !important;
		margin-right: 5px;
		padding: 5px !important;
		box-sizing: border-box;
		height: 30px;
		border: none;
		cursor: pointer;
		color: #fff;
		font-weight: 600;
		outline: none;
		border-radius: 3px;
		box-shadow: 0px 2px 1px -1px rgba(148,146,148,1);
	}
	.colorc{
		background:#a2f26f !important;
	}
	.colore{
		background:#ed4a38; 
	}
.opcompra{
	width: 100%;
	height: 30px;
	float: left;
	position: relative;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
	.opcompra>input[type=submit]{
		width: 40% !important;
		float: right !important;
		padding: 3px !important;
		margin-right: 5px;
		box-sizing: border-box;
		height: 30px;
		border: none;
		cursor: pointer;
		color: #fff;
		font-weight: 600;
		outline: none;
		border-radius: 3px;
		box-shadow: 0px 2px 1px -1px rgba(148,146,148,1);
	}
	.opcompra>input[type=submit]:hover{
		top: 1px;
	}
	.colorc{
		background:#9cf246;
	}
	.colore{
		background:#ed4a38; 
	}
/*F O O T E R*/
footer{
	background: #a0c0e0 !important;
	line-height: 15px;
	margin-top: 10px;
	bottom: 0px !important;
	z-index: 9999 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-top: 5px solid rgba(0, 4, 33, .6);
}
.centrado{
	text-align: center;
	margin-top: 5px;
	font-weight: 300;
}
.container>.redsociales{
	background: #a0c0e0 !important;
	border: none;
	font-size: .9em !important;

}
.nombre{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 10px;
	box-sizing: border-box;
}
.nombre>p{
	width: auto !important;	
	margin-left: 5px;
	margin-top: 8px;
}