/* .producto-inf{
    height: 500px;
    position: relative;
    background: #f0f0f0;
    background: red;
    padding-left: 0px !important;
    padding-right: 0px !important;
}*/
  .imagen-producto{
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px !important;
    background: rgba(0,0,0,.04);
  }
  .imagen-producto>img{
    position: relative;
    align-self: center;
  }
  .disponibilidad{
    position: absolute !important;
    height: 50px;
    background: rgba(0,0,0,.04);
    z-index: 99999;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding: 2px !important;
    box-sizing: border-box;
  }
  .disponibilidad>h3{
    margin-top: 10px !important;
  }
  .informacion-producto{
    margin-top: 10px !important;
    background: coral;
    height: 500px !important;
    display: flex;
    justify-content: center;
  }
  .datos-producto{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 400px;
    margin-top: 50px;
    background: grey;
  }
  .datos-producto>input{
    background: #f0f0f0;
    outline: none;
    border: none;
    font-family: 'Dosis', sans-serif;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .nombrep{
    font-size: 30px;
    font-weight: bolder;
  }
  .precio{
    font-size: 25px;
    font-weight: bold;
  }
  .descripcion{
    font-size: 20px;
    height: 100px;
    background: #f0f0f0;
    resize: none;
    outline: none;
    border-style: none;
    border-color: Transparent;
    font-size: 15px;
  }
  .cantidad{
    margin-top: 20px;
    border-top: 1px solid #000020 !important;
    border-bottom: 1px solid #000020 !important;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
   cursor: pointer;
}
#enviar{
  background: #A0E0C0 !important;
  margin-top: 50px;
  margin-left: 300px;
  height: 10%;
  border-radius: 5px;
  font-size: 20px;
}
.button{
  background: #A0E0C0 !important;
  align-self: flex-end;
  height: 10%;
  border-radius: 5px;
  font-size: 20px;
  overflow:hidden;
  outline: none;
  border: none;
  font-family: 'Dosis', sans-serif;
}
.button:before {
 font-family: FontAwesome;
 content:"\f07a";
 position: absolute;
 left: -30px;
 transition: all 200ms ease;
}
.button:hover:before {
 left: 7px;
}
