
#snackbarBottom {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333;
    color: #fff; 
    text-align: center;
    border-radius: 2px;
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}

/* Muestra el snackbar cuando se solicita */
#snackbarBottom.show {
    visibility: visible; 

/* Añade la animación: Toma 5 segundos para mostrar y desaparecer el snackbar.*/
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animaciones para mostrar y desaparecer el snackbar */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

#snackbarCheckUser {
    visibility: hidden; 
    min-width: 100px;
	max-width: 250px;
	max-height: 20px;
	line-height: 20px; 
    background-color: #333;
    color: #b81010; 
    text-align: center;
	vertical-align: top;
    border-radius: 2px;
    padding: 6px; 
    position: relative; 
    z-index: 1; 
    left: 370px; 
    bottom: 50px;
}

/* Muestra el snackbar cuando se solicita */
#snackbarCheckUser.show {
    visibility: visible;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

#snackbarCheckEmail {
    visibility: hidden; 
    min-width: 100px;
	max-width: 250px;
	max-height: 20px;
	line-height: 20px; 
    background-color: #333;
    color: #b81010;
    text-align: center;
	vertical-align: top;
    border-radius: 2px;
    padding: 6px; 
    position: relative; 
    z-index: 1; 
    left: 370px; 
    bottom: 50px;
}

/* Muestra el snackbar cuando se solicita */
#snackbarCheckEmail.show {
    visibility: visible;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

#snackbarCheckPass {
    visibility: hidden; 
    min-width: 100px;
	max-width: 250px;
	max-height: 20px;
	line-height: 20px; 
    background-color: #333;
    color: #b81010; 
    text-align: center;
	vertical-align: top;
    border-radius: 2px;
    padding: 6px; 
    position: relative; 
    z-index: 1; 
    left: 370px; 
    bottom: 50px;
}

/* Muestra el snackbar cuando se solicita */
#snackbarCheckPass.show {
    visibility: visible;
}
